{# templates/partials/header.html #}
<header>
  <a href="/" class="logo">FinCalcHub</a>
  <nav>
    <a href="/personal-finance-calculators/">All Calculators</a>
    <a href="/compound-interest/">Compound Interest</a>
    <a href="/retirement-savings/">Retirement</a>
    <a href="/take-home-pay/">Take-Home Pay</a>
    <a href="/mortgage/">Mortgage</a>
  </nav>
</header>

<!-- Region Bar -->
<div class="region-wrap">
  <div class="region-bar">
    <button class="region-btn active" id="btn-USA" onclick="setRegion('USA')"><img src="/img/flags/us.svg" alt="" width="24" height="16" class="flag"> USA</button>
    <button class="region-btn" id="btn-UK"  onclick="setRegion('UK')"><img src="/img/flags/gb.svg" alt="" width="24" height="16" class="flag"> United Kingdom</button>
    <button class="region-btn" id="btn-SA"  onclick="setRegion('SA')"><img src="/img/flags/za.svg" alt="" width="24" height="16" class="flag"> South Africa</button>
  </div>
</div>
